<mat-toolbar color="primary">
    <span>Crud Application</span>
    <span class="example-spacer"></span>
    <button mat-raised-button>
      ADD EMPLOYEE
    </button>
</mat-toolbar>

<dl>
    <dt>
      Most Used Programming Language in 2023
    </dt>
    <dd class="percentage percentage-100"><span class="text">JavaScript</span></dd>
    <dd class="percentage percentage-90"><span class="text">Phyton</span></dd>
    <dd class="percentage percentage-80"><span class="text">Java</span></dd>
    <dd class="percentage percentage-70"><span class="text">TypeScript</span></dd>
    <dd class="percentage percentage-60"><span class="text">C#</span></dd>
    <dd class="percentage percentage-50"><span class="text">C++</span></dd>
    <dd class="percentage percentage-40"><span class="text">PHP</span></dd>
    <dd class="percentage percentage-30"><span class="text">Shell</span></dd>
    <dd class="percentage percentage-20"><span class="text">C</span></dd>
    <dd class="percentage percentage-10"><span class="text">Ruby</span></dd>
  </dl>

<mat-toolbar class="footer">
    <span>Footer</span>
</mat-toolbar>